@import '../../style/style.scss';

.error {
    @extend %font-paragraph;
    list-style-type: none;
    padding: 0;
    color: #f00;
    width: 100%;

    li {
        padding: 3px;
        padding-left: 50px;
        // text-align: center;
        margin-top: 5px;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            left: 50px;
            content: "X";
            color: #f00;
            transform: translate(-25px,-50%);
        }
    }
}

