$bgc-main : #22A7F0;
$font-bgc-main: #ffffff;
$bgc-add:#a0a0a0;
$font-bgc-add:#22A7F0;
$add-color:#1f4788;
$add-color2: #003171;
$add-color3: #19B5FE;
$add-color4: #1F4788;
$add-color5: #89C4F4;

$title-font: 'Cinzel', serif;
$par-font: 'Sriracha', cursive;
