@import '../style/style';

.e404 {
    h3 {
        color: $font-bgc-main;
        font-size: 2rem;
        text-align: center;
    }

    >a {
        color: $font-bgc-add;
        font-size: 1.7rem;
        display: inline-block;
        padding: 10px 20px;
        background-color: $font-bgc-main;
        margin-left:50%;
        transform: translate(-50%);
        border-radius: 20px;
    }
}