@import '../style/style.scss';

section {
    min-height: 100vh;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.prezentation {
    min-height: 400px;
    color: $font-bgc-main;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &::after {
        @include traingleBgc($bgc-main, $bgc-add);
        display: none;
        left: 0;
        border-width: 200px calc(50vw - 0px) 200px calc(50vw - 16px);
    }

    .title {
        // background-color: $bgc-main;
        @include font-size(1.6rem);
        padding: 1px;
        border-radius: 10px;

        .fullName {
            @extend %font-title;
            text-transform: uppercase;
        }

        p {
            @extend %font-paragraph;
            text-transform: uppercase;
            text-align: center;
            background: radial-gradient($bgc-add, transparent);
            border: 2px solid $bgc-add;
            padding: 8px;
            border-radius: 10px;
        }
    }

    .dev-cont {
        @include font-size(1.4rem);
        @extend %font-paragraph;
        width: auto;
        font-weight: normal;

        ul {
            padding-left: 0;
            list-style: none;
            text-align: center;
        }

        h3 {
            margin-top: 0;
            border: 2px solid $bgc-main;
            padding: 8px;
            background: radial-gradient($bgc-main, transparent);
            border-radius: 10px;
        }
    }


}

.about {
    min-height: 100%;
    background-color: $bgc-main;
    color: $font-bgc-main;
    z-index: 0;
    @include font-size(1.2rem);

    .question {
        color: $add-color;
        font-weight: bold;
        @extend %font-title;
        @include font-size(1.2em);
    }

    p {
        @extend %font-paragraph;
        text-align: justify;
    }

    .technology {
        padding-top: 1px;
        margin: 10px -10px;
        background-color: $font-bgc-main;
        color: $font-bgc-add;

        p {
            text-align: center;
            margin-top: 20px;
        }

        div {
            overflow-x: auto;
            display: flex;

            span {
                min-width: 40px;
                margin: 0 20px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $font-bgc-main;
    color: $font-bgc-add;
    @include font-size(1.3rem);

    a {
        @extend %font-paragraph;
        color: $font-bgc-add;
    }

    svg {
        height: 50px !important;
        width: 50px !important;
    }
}

@media only screen and(min-height:400px) {
    .prezentation {
        height: 100vh;

        &::after {
            border-top-width: 50vh;
            border-bottom-width: 50vh;
        }

    }
}

@media only screen and(max-height:600px) {

    .prezentation {
        .dev-cont {
            h3 {
                margin-bottom: 10px;
            }

            ul {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and(min-width:300px) {
    .prezentation {

        &::after {
            display: block;
        }

    }

}

@media only screen and (min-width:600px) and (min-height:400px) {
    .prezentation {
        &::after {
            border-width: calc(50vh) calc(50vw - 0px) calc(50vh) calc(50vw - 16px);
        }

        .title {
            position: absolute;
            top: calc(50vh - 90px);
            width: 300px;
            left: calc(50vw - 140px); //50vw-150px should be
            text-align: center;
            height: 180px;
            transform: translate(-50%, -50%);
        }

        .dev-cont {
            position: absolute;
            top: calc(50vh - 136px);
            width: 300px;
            left: calc(50vw - 160px); //should be 150px
            text-align: center;
            height: 270px;
            transform: translate(50%, 50%);
        }
    }

    .about {

        .technology {

            div {
                span {
                    svg {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    }


}

@media only screen and(min-width:900px) and (max-height:400px) {

    .prezentation {
        .title {
            transform: translate(-100%, 0);
        }

        .dev-cont {
            transform: translate(100%, 0);
        }
    }
}


@media only screen and(min-width:900px) and (min-height:400px) {

    .prezentation {
        .title {
            transform: unset;
            top: 17vh;
            left: 17vw;
        }

        .dev-cont {
            top: calc(50vh - 20px);
            left: 60vw;
            transform: unset;
        }
    }
}

@media only screen and (min-height:800px) {

    .prezentation {
        font-size: 2rem;
    }
}