@import '../style/style';

.language {
    background-color: $bgc-add;
    padding: 10px;
    border-radius: 150px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    &>div {
        width: 50px;
        cursor: pointer;
    }
}